{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>COMBATE DJANGO</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Combate</a>
				</div>
			</div>
		</nav>
    </header><!-- /header -->

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="img-container">
					<img class="first-slide" src="static/img/chamadas/chamada-01.png" alt="Primeiro slide">
				</div>
				<div class="container">
					<div class="carousel-caption">
						<p>assine o <br>COMBATE:</p>
						<p><b>lutas ao vivo</b></p>
						<p>veja todas as <br>lutas do ufc e o <br>melhor do mma</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">assine já</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="img-container">
					<img class="first-slide" src="static/img/chamadas/chamada-01.png" alt="Primeiro slide">
				</div>
				<div class="container">
					<div class="carousel-caption">
						<p>assine o <br>COMBATE:</p>
						<p><b>lutas ao vivo</b></p>
						<p>veja todas as <br>lutas do ufc e o <br>melhor do mma</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">assine já</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="img-container">
					<img class="first-slide" src="static/img/chamadas/chamada-01.png" alt="Primeiro slide">
				</div>
				<div class="container">
					<div class="carousel-caption">
						<p>assine o <br>COMBATE:</p>
						<p><b>lutas ao vivo</b></p>
						<p>veja todas as <br>lutas do ufc e o <br>melhor do mma</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">assine já</a></p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="img-container">
					<img class="first-slide" src="/static/img/chamadas/chamada-01.png" alt="Primeiro slide">
				</div>
				<div class="container">
					<div class="carousel-caption">
						<p>assine o <br>COMBATE:</p>
						<p><b>lutas ao vivo</b></p>
						<p>veja todas as <br>lutas do ufc e o <br>melhor do mma</p>
						<p><a class="btn btn-primary btn-lg" href="#" role="button">assine já</a></p>
					</div>
				</div>
			</div>

		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Chamada anterior</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Próxima chamada</span>
		</a>
	</div>


    <main>
		<div class="container">
			<h2>A maior cobertura do UFC</h2>
			<p>O Combate exibe <b>ao vivo e na íntegra todas as edições do UFC</b> com exclusividade, além de uma seleção com mais de 1.000 grandes desafios de MMA.<br>E o que é melhor: quando e onde você quiser, sem custo adicional.</p>
			<h2>Próximos eventos exclusivos</h2>
			<div class="row proximos-eventos">
                {% if eventos_lista %}
                    <ul>
                        {% for evento in eventos_lista %}
                            <li class="col-md-3">
                            <time>{{ evento.evento_calendario }}</time>
                            <img src="{{ MEDIA_URL}}{{ evento.evento_img_arquivo.url }}"/>
                            <p>{{ evento.evento_subtitulo }}</p>
                            <h2>{{ evento.evento_titulo }}</h2>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
			</div>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">assine já</a></p>
		</div>

		<div class="container combate-play">
			<span class="">
				<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" width="336" height="34" viewBox="0 163.667 336 33.999999" enable-background="new 0 163.667 960 238.253" space="preserve" class="globotv-logos-play-svg unfilled" id="svg3410" inkscape:version="0.91 r13725" sodipodi:docname="logo-globoplay.svg">
				  <metadata id="metadata3444">
				    <rdf:RDF>
				      <cc:Work rdf:about="">
				        <dc:format>image/svg+xml</dc:format>
				        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
				        <dc:title/>
				      </cc:Work>
				    </rdf:RDF>
				  </metadata>
				  <defs id="defs3442"/>
				  <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1282" inkscape:window-height="782" id="namedview3440" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="1.1895833" inkscape:cx="430.05657" inkscape:cy="139.28814" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="svg3410"/>
				  <g id="g3412" transform="matrix(0.40950915,0,0,0.4150644,-2.1180261e-4,64.345832)">
				    <g id="g3414">
				      <path d="m 58.749,287.922 -5.175,19.797 c -0.805,2.944 -3.84,5.44 -6.953,5.44 l -40.674,0 c -4.195,0 -6.775,-3.035 -5.704,-7.229 l 13.645,-53.151 c 0.71,-2.943 3.834,-5.44 6.952,-5.44 l 40.673,0 c 4.188,0 6.774,3.296 5.707,7.312 l -4.634,17.925 -15.88,0 1.961,-7.576 c 0.357,-1.338 -0.442,-2.416 -1.783,-2.416 l -17.029,0 c -1.437,0 -2.946,1.345 -3.304,2.677 l -7.672,30.236 c -0.356,1.345 0.443,2.32 1.782,2.32 l 16.95,0 c 1.421,0 2.942,-1.157 3.294,-2.496 l 1.878,-7.399 15.966,0 z" id="path3416" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <path d="m 114.039,307.717 c -0.714,2.945 -3.836,5.441 -6.95,5.441 l -40.85,0 c -4.194,0 -6.604,-3.035 -5.532,-7.228 l 13.559,-53.15 c 0.711,-2.945 3.922,-5.441 7.043,-5.441 l 40.668,0 c 4.193,0 6.689,3.296 5.714,7.313 l -13.652,53.065 z M 79.168,295.496 c -0.356,1.345 0.624,2.321 1.958,2.321 l 16.951,0 c 1.432,0 2.849,-1.158 3.213,-2.496 l 7.848,-30.32 c 0.355,-1.339 -0.449,-2.417 -1.783,-2.417 l -17.031,0 c -1.521,0 -2.951,1.344 -3.309,2.679 l -7.847,30.233 z" id="path3418" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <path d="m 185.39,247.339 26.042,0 c 4.199,0 6.688,3.121 5.622,7.313 l -14.988,58.507 -15.875,0 12.312,-48.158 c 0.356,-1.436 -0.539,-2.417 -1.875,-2.417 l -11.771,0 c -1.425,0 -2.946,1.254 -3.303,2.677 l -12.216,47.898 -15.965,0 12.307,-48.158 c 0.357,-1.436 -0.444,-2.417 -1.783,-2.417 l -14.45,0 -12.931,50.575 -15.875,0 16.767,-65.82 32.911,0 c 3.389,0 5.793,1.066 7.223,2.763 2.054,-1.697 4.636,-2.763 7.848,-2.763" id="path3420" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <path d="m 272.083,285.062 -5.446,21.765 c -0.976,4.012 -4.459,6.332 -9.094,6.332 l -47.006,0 16.685,-65.82 44.681,0 c 6.24,0 8.916,3.568 7.403,9.277 l -3.211,12.038 c -0.714,2.588 -2.233,4.46 -4.37,5.616 l -3.477,1.872 c 3.654,1.879 4.72,5.181 3.835,8.92 m -38.978,12.755 16.947,0 c 1.423,0 2.848,-1.072 3.211,-2.496 l 2.314,-9.81 c 0.357,-1.516 -0.539,-2.406 -2.228,-1.516 l -20.784,10.967 c -1.513,0.807 -1.331,2.855 0.54,2.855 m 9.543,-35.233 c -1.424,0 -2.944,1.078 -3.302,2.502 l -2.497,9.992 c -0.356,1.424 0.443,2.047 1.782,1.338 l 20.868,-10.973 c 1.344,-0.715 1.609,-0.981 1.701,-1.604 0.085,-0.625 -0.447,-1.255 -1.162,-1.255 l -17.39,0 z" id="path3422" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <path d="m 288.129,313.158 -15.966,0 15.521,-60.378 c 0.716,-2.944 3.928,-5.441 6.961,-5.441 l 40.846,0 c 4.016,0 6.599,3.119 5.53,7.313 l -14.892,58.506 -16.059,0 6.297,-23.982 c 0,0 -22.138,-0.06 -22.229,-0.06 l -6.009,24.042 z m 10.066,-39.116 21.943,-0.037 2.248,-9.003 c 0.352,-1.34 -0.45,-2.417 -1.696,-2.417 l -17.039,0 c -1.431,0 -2.945,1.344 -3.302,2.678 0,0 -2.154,8.693 -2.154,8.779" id="path3424" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <polygon points="396.584,262.584 378.209,262.584 365.278,313.159 349.408,313.159 362.337,262.584 344.046,262.584 347.978,247.339 400.507,247.339 " id="polygon3426" style="fill:#ce1f2a"/>
				      <path d="m 440.55,272.575 -3.92,15.346 -25.952,0 -1.97,7.576 c -0.351,1.345 0.448,2.32 1.788,2.32 l 31.574,0 -3.927,15.341 -42.456,0 c -4.187,0 -6.593,-3.035 -5.526,-7.228 l 13.465,-53.15 c 0.716,-2.945 4.022,-5.44 7.137,-5.44 l 44.237,0 -3.92,15.244 -31.312,0 c -1.424,0 -2.939,1.345 -3.298,2.678 l -1.87,7.313 25.95,0 z" id="path3428" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				    </g>
				    <g id="g3430">
				      <path d="m 523.905,321.138 c 22.511,0 40.879,-18.372 40.879,-40.884 0,-22.513 -18.368,-40.883 -40.879,-40.883 -22.512,0 -40.887,18.37 -40.887,40.883 0.001,22.512 18.376,40.884 40.887,40.884 m -14.509,-54.18 c 0,-3.337 1.673,-5.287 4.095,-5.306 l 0.079,0 c 0.984,0.009 2.093,0.333 3.262,1.009 l 22.987,13.295 c 4.095,2.366 4.095,6.234 0,8.599 l -22.987,13.291 c -1.174,0.683 -2.289,1.004 -3.273,1.01 l -0.06,0 c -2.427,-0.014 -4.103,-1.96 -4.103,-5.305 l 0,-26.593 z" id="path3432" inkscape:connector-curvature="0" style="fill:#ce1f2a"/>
				      <path d="m 582.267,321.068 0,-81.767 30.715,0 c 3.93,0 7.432,0.633 10.505,1.898 3.072,1.27 5.652,3.004 7.741,5.21 2.086,2.208 3.684,4.762 4.791,7.663 1.105,2.902 1.658,5.944 1.658,9.132 0,3.188 -0.553,6.232 -1.658,9.132 -1.107,2.902 -2.727,5.456 -4.855,7.661 -2.13,2.207 -4.713,3.946 -7.74,5.211 -3.035,1.27 -6.516,1.902 -10.448,1.902 l -23.72,0 0,33.956 -6.989,0 z m 29.913,-40.333 c 2.696,0 5.147,-0.428 7.354,-1.286 2.207,-0.858 4.107,-2.063 5.701,-3.616 1.594,-1.552 2.819,-3.392 3.677,-5.517 0.858,-2.124 1.286,-4.495 1.286,-7.11 0,-2.532 -0.428,-4.883 -1.286,-7.049 -0.857,-2.165 -2.083,-4.023 -3.677,-5.578 -1.594,-1.551 -3.494,-2.759 -5.701,-3.617 -2.207,-0.857 -4.658,-1.286 -7.354,-1.286 l -22.925,0 0,35.06 22.925,0 z" id="path3434" inkscape:connector-curvature="0" style="fill:#96afc5"/>
				      <path d="m 730.563,239.302 -8.719,0 -30.904,75.519 -39.244,0 0,-75.519 -6.998,0 0,81.904 51.73,0 8.105,-20.139 43.342,0 8.102,20.139 8.104,0 -33.518,-81.904 z m -23.695,55.381 19.275,-47.89 19.396,47.89 -38.671,0 z" id="path3436" inkscape:connector-curvature="0" style="fill:#96afc5"/>
				      <polygon points="748.415,239.291 756.888,239.291 784.456,279.567 812.024,239.291 820.495,239.291 787.956,286.199 787.956,321.194 780.956,321.194 780.956,286.199 " id="polygon3438" style="fill:#96afc5"/>
				    </g>
				  </g>
				</svg>
			</span>
		    <div>
			    <p>Assista ao vivo e reveja as lutas quando quiser.<br>Exclusivo para assinantes. <a href="#">conheça »</a></p>
		    </div>
	    </div>

		<aside class="operadoras">
			<div class="container">
				<p>Escolha sua operadora e não perca nenhuma luta!</p>
				<div class="row">
					<ul>
						<div class="row">
							<div class="col-xs-8r">
								<li>
									<a href="http://www.algartelecom.com.br/" target="_blank" title="Algar Telecom">Algar Telecom</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.blue.tv.br/" target="_blank" title="Blue">Blue</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.claro.com.br/" target="_blank" title="Claro">Claro</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.gvt.com.br/" target="_blank" title="GVT">GVT</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.netcombo.com.br/" target="_blank" title="Net">Net</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.oi.com.br/tv-hd/" target="_blank" title="Oi TV">Oi TV</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.sky.com.br/" target="_blank" title="Sky">Sky</a>
								</li>
							</div>
							<div class="col-xs-8r">
								<li>
									<a href="http://www.vivo.com.br/" target="_blank" title="Vivo">Vivo</a>
								</li>
							</div>
						</div>
					</ul>
				</div>
			</div>
    </main>


	<footer class="footer navbar">
<footer id="glb-rodape"><section id="glb-diretorio">
    </footer>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>