@font-face {
	font-family: 'Proxima-nova';
	src: url("../fonts/proxima-nova/proxima-nova-regular.otf") format("opentype");
}

@font-face {
	font-family: 'Proxima-nova';
	font-weight: bold;
	src: url("../fonts/proxima-nova/proxima-nova-bold.otf") format("opentype");
}

body {
	font-family: "Proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 46px;
	text-transform: uppercase;
	font-weight: bold;
}

.container p {
	font-size:24px;
}

.navbar {
	margin-bottom:0;
	height: 69px;
}

.navbar-brand {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20x%3D%220px%22%0A%20%20%20y%3D%220px%22%0A%20%20%20width%3D%22186.32645%22%0A%20%20%20height%3D%2227.319538%22%0A%20%20%20viewBox%3D%220%20163.667%20186.32645%2027.319537%22%0A%20%20%20enable-background%3D%22new%200%20163.667%20960%20238.253%22%0A%20%20%20space%3D%22preserve%22%0A%20%20%20class%3D%22globotv-logos-play-svg%20unfilled%22%0A%20%20%20id%3D%22svg3410%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22logo-combate.svg%22%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata3444%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E%3C/dc%3Atitle%3E%0A%20%20%20%20%20%20%3C/cc%3AWork%3E%0A%20%20%20%20%3C/rdf%3ARDF%3E%0A%20%20%3C/metadata%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs3442%22%20/%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20gridtolerance%3D%2210%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221280%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22778%22%0A%20%20%20%20%20id%3D%22namedview3440%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%0A%20%20%20%20%20inkscape%3Azoom%3D%221.6823248%22%0A%20%20%20%20%20inkscape%3Acx%3D%22154.87381%22%0A%20%20%20%20%20inkscape%3Acy%3D%2225.223858%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22svg3410%22%20/%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22g3414%22%0A%20%20%20%20%20transform%3D%22matrix%280.40950915%2C0%2C0%2C0.4150644%2C-2.1180261e-4%2C61.005394%29%22%0A%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3416%22%0A%20%20%20%20%20%20%20d%3D%22m%2058.749%2C287.922%20-5.175%2C19.797%20c%20-0.805%2C2.944%20-3.84%2C5.44%20-6.953%2C5.44%20l%20-40.674%2C0%20c%20-4.195%2C0%20-6.775%2C-3.035%20-5.704%2C-7.229%20l%2013.645%2C-53.151%20c%200.71%2C-2.943%203.834%2C-5.44%206.952%2C-5.44%20l%2040.673%2C0%20c%204.188%2C0%206.774%2C3.296%205.707%2C7.312%20l%20-4.634%2C17.925%20-15.88%2C0%201.961%2C-7.576%20c%200.357%2C-1.338%20-0.442%2C-2.416%20-1.783%2C-2.416%20l%20-17.029%2C0%20c%20-1.437%2C0%20-2.946%2C1.345%20-3.304%2C2.677%20l%20-7.672%2C30.236%20c%20-0.356%2C1.345%200.443%2C2.32%201.782%2C2.32%20l%2016.95%2C0%20c%201.421%2C0%202.942%2C-1.157%203.294%2C-2.496%20l%201.878%2C-7.399%2015.966%2C0%20z%22%20/%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3418%22%0A%20%20%20%20%20%20%20d%3D%22m%20114.039%2C307.717%20c%20-0.714%2C2.945%20-3.836%2C5.441%20-6.95%2C5.441%20l%20-40.85%2C0%20c%20-4.194%2C0%20-6.604%2C-3.035%20-5.532%2C-7.228%20l%2013.559%2C-53.15%20c%200.711%2C-2.945%203.922%2C-5.441%207.043%2C-5.441%20l%2040.668%2C0%20c%204.193%2C0%206.689%2C3.296%205.714%2C7.313%20l%20-13.652%2C53.065%20z%20M%2079.168%2C295.496%20c%20-0.356%2C1.345%200.624%2C2.321%201.958%2C2.321%20l%2016.951%2C0%20c%201.432%2C0%202.849%2C-1.158%203.213%2C-2.496%20l%207.848%2C-30.32%20c%200.355%2C-1.339%20-0.449%2C-2.417%20-1.783%2C-2.417%20l%20-17.031%2C0%20c%20-1.521%2C0%20-2.951%2C1.344%20-3.309%2C2.679%20l%20-7.847%2C30.233%20z%22%20/%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3420%22%0A%20%20%20%20%20%20%20d%3D%22m%20185.39%2C247.339%2026.042%2C0%20c%204.199%2C0%206.688%2C3.121%205.622%2C7.313%20l%20-14.988%2C58.507%20-15.875%2C0%2012.312%2C-48.158%20c%200.356%2C-1.436%20-0.539%2C-2.417%20-1.875%2C-2.417%20l%20-11.771%2C0%20c%20-1.425%2C0%20-2.946%2C1.254%20-3.303%2C2.677%20l%20-12.216%2C47.898%20-15.965%2C0%2012.307%2C-48.158%20c%200.357%2C-1.436%20-0.444%2C-2.417%20-1.783%2C-2.417%20l%20-14.45%2C0%20-12.931%2C50.575%20-15.875%2C0%2016.767%2C-65.82%2032.911%2C0%20c%203.389%2C0%205.793%2C1.066%207.223%2C2.763%202.054%2C-1.697%204.636%2C-2.763%207.848%2C-2.763%22%20/%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3422%22%0A%20%20%20%20%20%20%20d%3D%22m%20272.083%2C285.062%20-5.446%2C21.765%20c%20-0.976%2C4.012%20-4.459%2C6.332%20-9.094%2C6.332%20l%20-47.006%2C0%2016.685%2C-65.82%2044.681%2C0%20c%206.24%2C0%208.916%2C3.568%207.403%2C9.277%20l%20-3.211%2C12.038%20c%20-0.714%2C2.588%20-2.233%2C4.46%20-4.37%2C5.616%20l%20-3.477%2C1.872%20c%203.654%2C1.879%204.72%2C5.181%203.835%2C8.92%20m%20-38.978%2C12.755%2016.947%2C0%20c%201.423%2C0%202.848%2C-1.072%203.211%2C-2.496%20l%202.314%2C-9.81%20c%200.357%2C-1.516%20-0.539%2C-2.406%20-2.228%2C-1.516%20l%20-20.784%2C10.967%20c%20-1.513%2C0.807%20-1.331%2C2.855%200.54%2C2.855%20m%209.543%2C-35.233%20c%20-1.424%2C0%20-2.944%2C1.078%20-3.302%2C2.502%20l%20-2.497%2C9.992%20c%20-0.356%2C1.424%200.443%2C2.047%201.782%2C1.338%20l%2020.868%2C-10.973%20c%201.344%2C-0.715%201.609%2C-0.981%201.701%2C-1.604%200.085%2C-0.625%20-0.447%2C-1.255%20-1.162%2C-1.255%20l%20-17.39%2C0%20z%22%20/%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3424%22%0A%20%20%20%20%20%20%20d%3D%22m%20288.129%2C313.158%20-15.966%2C0%2015.521%2C-60.378%20c%200.716%2C-2.944%203.928%2C-5.441%206.961%2C-5.441%20l%2040.846%2C0%20c%204.016%2C0%206.599%2C3.119%205.53%2C7.313%20l%20-14.892%2C58.506%20-16.059%2C0%206.297%2C-23.982%20c%200%2C0%20-22.138%2C-0.06%20-22.229%2C-0.06%20l%20-6.009%2C24.042%20z%20m%2010.066%2C-39.116%2021.943%2C-0.037%202.248%2C-9.003%20c%200.352%2C-1.34%20-0.45%2C-2.417%20-1.696%2C-2.417%20l%20-17.039%2C0%20c%20-1.431%2C0%20-2.945%2C1.344%20-3.302%2C2.678%200%2C0%20-2.154%2C8.693%20-2.154%2C8.779%22%20/%3E%0A%20%20%20%20%3Cpolygon%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20id%3D%22polygon3426%22%0A%20%20%20%20%20%20%20points%3D%22344.046%2C262.584%20347.978%2C247.339%20400.507%2C247.339%20396.584%2C262.584%20378.209%2C262.584%20365.278%2C313.159%20349.408%2C313.159%20362.337%2C262.584%20%22%20/%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%22%0A%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20id%3D%22path3428%22%0A%20%20%20%20%20%20%20d%3D%22m%20440.55%2C272.575%20-3.92%2C15.346%20-25.952%2C0%20-1.97%2C7.576%20c%20-0.351%2C1.345%200.448%2C2.32%201.788%2C2.32%20l%2031.574%2C0%20-3.927%2C15.341%20-42.456%2C0%20c%20-4.187%2C0%20-6.593%2C-3.035%20-5.526%2C-7.228%20l%2013.465%2C-53.15%20c%200.716%2C-2.945%204.022%2C-5.44%207.137%2C-5.44%20l%2044.237%2C0%20-3.92%2C15.244%20-31.312%2C0%20c%20-1.424%2C0%20-2.939%2C1.345%20-3.298%2C2.678%20l%20-1.87%2C7.313%2025.95%2C0%20z%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
	background-position: center 20px;
	text-indent: -9999px;    
}

.navbar-default {
	background-color:#c00f07;
	border: none;
	border-radius: 0;
	border-bottom: 3px solid #9d0500;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color:#fff;
}

.carousel {
	text-transform: uppercase;
	height:589px;
	margin-bottom: 30px;
}

.carousel p {
	font-weight: bold;
	font-size:44px;
	color: #fff;
	line-height: 48px;
	letter-spacing: -1px;
	margin-bottom: 0px;
}

.carousel p:first-child {
	font-size:48px;
	margin-bottom: 15px;
}

.carousel p b {
	font-size:36px;
	color: #ffc617;
	margin-bottom: 5px;
}

.carousel .item img {
	opacity: 0.5;
	float: right;
}

.carousel-inner {
	background-color: #000;
}
.carousel .item .img-container:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 100%;
	background: -webkit-linear-gradient(left,  #000000 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 100%);
}
.carousel-caption {
	text-align: left;
	margin-left: -100px;
}

.container .btn-primary {
	background-color: #d32127;
	border: none;
	border-radius: 0;
	font-size: 36px;
	letter-spacing: -1px;
	height: 75px;
	width: 340px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0px;
	line-height: 74px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.carousel-indicators {
	bottom:10px!important;
}

.carousel-indicators li {
	background-color: #d2d2d2;
	border: none;
	margin-left:2px;
	margin-right:2px;
}

.carousel-indicators li.active {
	background-color: #d31b02;
}

.carousel .glyphicon {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21--%20Created%20with%20Inkscape%20%28http%3A//www.inkscape.org/%29%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20width%3D%2222.023008mm%22%0A%20%20%20height%3D%2222.023008mm%22%0A%20%20%20viewBox%3D%220%200%2078.034282%2078.034281%22%0A%20%20%20id%3D%22svg2%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22slideshow-setas.svg%22%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs4%22%20/%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20id%3D%22base%22%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221.0%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220.0%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Azoom%3D%225.6%22%0A%20%20%20%20%20inkscape%3Acx%3D%2243.49007%22%0A%20%20%20%20%20inkscape%3Acy%3D%2241.760506%22%0A%20%20%20%20%20inkscape%3Adocument-units%3D%22px%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer3%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221280%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22751%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%2223%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%20/%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata7%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3E%3C/dc%3Atitle%3E%0A%20%20%20%20%20%20%3C/cc%3AWork%3E%0A%20%20%20%20%3C/rdf%3ARDF%3E%0A%20%20%3C/metadata%3E%0A%20%20%3Cg%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer3%22%0A%20%20%20%20%20inkscape%3Alabel%3D%22Layer%203%22%0A%20%20%20%20%20transform%3D%22translate%28-329.46499%2C-487.72005%29%22%3E%0A%20%20%20%20%3Crect%0A%20%20%20%20%20%20%20style%3D%22opacity%3A0.93000034%3Bfill%3Anone%3Bfill-opacity%3A1%3Bstroke%3A%23ffffff%3Bstroke-width%3A2.44462013%3Bstroke-linecap%3Abutt%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-opacity%3A1%22%0A%20%20%20%20%20%20%20id%3D%22rect4208%22%0A%20%20%20%20%20%20%20width%3D%2252.733948%22%0A%20%20%20%20%20%20%20height%3D%2252.733948%22%0A%20%20%20%20%20%20%20x%3D%22606.64868%22%0A%20%20%20%20%20%20%20y%3D%2285.536255%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%280.70710678%2C0.70710678%2C-0.70710678%2C0.70710678%2C0%2C0%29%22%20/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	/*background-image: url("../img/slideshow-setas.png");*/
	background-position: left center;
	background-repeat: no-repeat;
	height: 85px;
	width: 40px;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
	top:45%;
	margin:0px;
}

.carousel-control .glyphicon-chevron-left {
	left: 29%;
}

.carousel-control .glyphicon-chevron-right {
	right: 29%;
}

.carousel .glyphicon:before {
	content: "";
}

.carousel .right .glyphicon {
	background-position: right center;
}

main .container {
	text-align: center;
}

main > .container:first-child > p {
	width:940px;
	line-height: 30px;
	letter-spacing: 0.4px;
	margin:0 auto 90px;
}

main > .container:first-child > p:last-child {
	margin-bottom: 0px;
}

main .container h2 {
	margin-bottom: 20px;
}

main .container ul {
	overflow: hidden;
	width: 970px;
	padding: 0px;
	margin:0 auto;
}

main .container li {
	list-style: none;
}

main .container li time {
	display:block;
	font-size: 16px;
	text-transform: uppercase;
}

main .container li img {
	margin-bottom: 10px;
}

main .container li p,
main .container li h2 {
	letter-spacing: -0.5px;
	float: none;
	text-transform: uppercase;
	margin:0px;
}

main .container li p {
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 3px;
}

main .container li h2 {
	font-weight: 800;
	font-size:14.5px;
}

main .container li h2 b {
	color: #d32127;
}

.proximos-eventos + p {
	margin-bottom:0px;
}

main .combate-play {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.2.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22Layer_1%22%0A%20%20%20x%3D%220px%22%0A%20%20%20y%3D%220px%22%0A%20%20%20viewBox%3D%220%200%20262.5101%20185.18375%22%0A%20%20%20xml%3Aspace%3D%22preserve%22%0A%20%20%20inkscape%3Aversion%3D%220.91%20r13725%22%0A%20%20%20sodipodi%3Adocname%3D%22dispositivos.svg%22%0A%20%20%20width%3D%22262.5101%22%0A%20%20%20height%3D%22185.18375%22%3E%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata3410%22%3E%3Crdf%3ARDF%3E%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%3Cdc%3Atitle%3E%3C/dc%3Atitle%3E%3C/cc%3AWork%3E%3C/rdf%3ARDF%3E%3C/metadata%3E%3Cdefs%0A%20%20%20%20%20id%3D%22defs3408%22%20/%3E%3Csodipodi%3Anamedview%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20gridtolerance%3D%2210%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%221283%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%22770%22%0A%20%20%20%20%20id%3D%22namedview3406%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20fit-margin-top%3D%220%22%0A%20%20%20%20%20fit-margin-left%3D%220%22%0A%20%20%20%20%20fit-margin-right%3D%220%22%0A%20%20%20%20%20fit-margin-bottom%3D%220%22%0A%20%20%20%20%20inkscape%3Azoom%3D%221.6732829%22%0A%20%20%20%20%20inkscape%3Acx%3D%22142.41109%22%0A%20%20%20%20%20inkscape%3Acy%3D%2261.396163%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%220%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22layer2%22%20/%3E%3Cstyle%0A%20%20%20%20%20type%3D%22text/css%22%0A%20%20%20%20%20id%3D%22style3394%22%3E%0A%09.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%7D%0A%09.st1%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333333%3B%7D%0A%3C/style%3E%3Cstyle%0A%20%20%20%20%20id%3D%22style3508%22%0A%20%20%20%20%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%7D%0A%09.st1%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333333%3B%7D%0A%3C/style%3E%3Cstyle%0A%20%20%20%20%20id%3D%22style3590%22%0A%20%20%20%20%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%7D%0A%09.st1%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23333333%3B%7D%0A%3C/style%3E%3Cg%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer1%22%0A%20%20%20%20%20inkscape%3Alabel%3D%22pc%22%0A%20%20%20%20%20style%3D%22opacity%3A1%22%0A%20%20%20%20%20sodipodi%3Ainsensitive%3D%22true%22%0A%20%20%20%20%20transform%3D%22translate%2871%2C89.835175%29%22%3E%3Cg%0A%20%20%20%20%20%20%20id%3D%22g3592%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%281.3391435%2C0%2C0%2C1.3391435%2C-80.909662%2C-98.807436%29%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20id%3D%22path3594%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%2027.7%2C16.9%20116.5%2C0%20c%205.6%2C0%2010.1%2C4.5%2010.1%2C10.1%20l%200%2C67.8%20c%200%2C5.6%20-4.5%2C10.1%20-10.1%2C10.1%20l%20-116.5%2C0%20c%20-5.6%2C0%20-10.1%2C-4.5%20-10.1%2C-10.1%20l%200%2C-67.8%20c%200%2C-5.6%204.5%2C-10.1%2010.1%2C-10.1%20z%22%0A%20%20%20%20%20%20%20%20%20class%3D%22st0%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%20/%3E%3Cg%0A%20%20%20%20%20%20%20%20%20id%3D%22g3596%22%3E%3Cg%0A%20%20%20%20%20%20%20%20%20%20%20id%3D%22g3598%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22path3600%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22M%20149.3%2C6.7%2022.6%2C6.7%20C%2014.2%2C6.7%207.4%2C13.5%207.4%2C21.9%20l%200%2C78%20c%200%2C8.4%206.8%2C15.2%2015.2%2C15.2%20l%2040.5%2C0%200%2C14.7%20c%200%2C0%20-6%2C4.5%20-8.3%2C6.2%20-1.2%2C0.9%20-0.9%2C4.2%202.9%2C4.2%200%2C0%2054%2C0.1%2056.3%2C0%203%2C-0.1%204%2C-2.8%202.3%2C-4.2%20-2.4%2C-2.1%20-8.1%2C-6.2%20-8.1%2C-6.2%20l%200%2C-14.7%2041%2C0%20c%208.4%2C0%2015.2%2C-6.8%2015.2%2C-15.2%20l%200%2C-78%20C%20164.5%2C13.6%20157.7%2C6.7%20149.3%2C6.7%20Z%20m%205.1%2C87.1%20c%200%2C5.6%20-4.5%2C10.1%20-10.1%2C10.1%20l%20-116.6%2C0%20c%20-5.6%2C0%20-10.1%2C-4.5%20-10.1%2C-10.1%20l%200%2C-66.8%20c%200%2C-5.6%204.5%2C-10.1%2010.1%2C-10.1%20l%20116.5%2C0%20c%205.6%2C0%2010.1%2C4.5%2010.1%2C10.1%20l%200%2C66.8%20z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20class%3D%22st1%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23333333%3Bfill-rule%3Aevenodd%22%20/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer3%22%0A%20%20%20%20%20inkscape%3Alabel%3D%22ipad%22%0A%20%20%20%20%20style%3D%22opacity%3A1%22%0A%20%20%20%20%20sodipodi%3Ainsensitive%3D%22true%22%0A%20%20%20%20%20transform%3D%22translate%2871%2C89.835175%29%22%3E%3Cg%0A%20%20%20%20%20%20%20id%3D%22g3396%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%281.2570068%2C0%2C0%2C1.2570068%2C89.189742%2C-50.104653%29%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20class%3D%22st0%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%2016.3%2C16.3%2058.2%2C0%200%2C89.1%20-58.2%2C0%200%2C-89.1%20z%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path3398%22%0A%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%3Cg%0A%20%20%20%20%20%20%20%20%20id%3D%22g3400%22%3E%3Cg%0A%20%20%20%20%20%20%20%20%20%20%20id%3D%22g3402%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20class%3D%22st1%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22m%2073%2C7.8%20-56%2C0%20c%20-4.6%2C0%20-8.4%2C3.8%20-8.4%2C8.4%20l%200%2C83.5%20c%200%2C4.6%203.8%2C8.4%208.4%2C8.4%20l%2056%2C0%20c%204.6%2C0%208.4%2C-3.8%208.4%2C-8.4%20l%200%2C-83.4%20C%2081.4%2C11.6%2077.7%2C7.8%2073%2C7.8%20Z%20m%20-27.1%2C97.5%20c%20-2%2C0%20-3.7%2C-1.6%20-3.7%2C-3.7%200%2C-2%201.6%2C-3.7%203.7%2C-3.7%202.1%2C0%203.7%2C1.6%203.7%2C3.7%200%2C2.1%20-1.7%2C3.7%20-3.7%2C3.7%20z%20M%2073%2C93.9%20l%20-56%2C0%200%2C-77.6%2056%2C0%200%2C77.6%20z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22path3404%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23333333%3Bfill-rule%3Aevenodd%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%20/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%0A%20%20%20%20%20inkscape%3Agroupmode%3D%22layer%22%0A%20%20%20%20%20id%3D%22layer2%22%0A%20%20%20%20%20inkscape%3Alabel%3D%22iphone%22%0A%20%20%20%20%20style%3D%22opacity%3A1%22%0A%20%20%20%20%20sodipodi%3Ainsensitive%3D%22true%22%0A%20%20%20%20%20transform%3D%22translate%2871%2C89.835175%29%22%3E%3Cg%0A%20%20%20%20%20%20%20id%3D%22g3510%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%281.5354686%2C0%2C0%2C1.4653657%2C46.069798%2C3.9097569%29%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20id%3D%22path3512%22%0A%20%20%20%20%20%20%20%20%20d%3D%22m%2038.3%2C8.4%200%2C51%20-26.6%2C0%200%2C-51%2026.6%2C0%20z%22%0A%20%20%20%20%20%20%20%20%20class%3D%22st0%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%22%20/%3E%3Cg%0A%20%20%20%20%20%20%20%20%20id%3D%22g3514%22%3E%3Cg%0A%20%20%20%20%20%20%20%20%20%20%20id%3D%22g3516%22%3E%3Cpath%0A%20%20%20%20%20%20%20%20%20%20%20%20%20id%3D%22path3518%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20d%3D%22m%2036.4%2C7.5%20-22.8%2C0%20c%20-3.1%2C0%20-5.7%2C2.5%20-5.7%2C5.7%20l%200%2C43.4%20c%200%2C3.1%202.5%2C5.8%205.7%2C5.8%20l%2022.7%2C0%20c%203.1%2C0%205.7%2C-2.5%205.7%2C-5.7%20L%2042%2C13.2%20C%2042%2C10.1%2039.5%2C7.5%2036.4%2C7.5%20Z%20m%20-15.2%2C2.9%207.6%2C0%200%2C2.9%20-7.6%2C0%200%2C-2.9%20z%20m%203.9%2C49.4%20c%20-1.6%2C0%20-2.9%2C-1.3%20-2.9%2C-2.9%200%2C-1.6%201.3%2C-2.9%202.9%2C-2.9%201.6%2C0%202.9%2C1.3%202.9%2C2.9%200%2C1.6%20-1.3%2C2.9%20-2.9%2C2.9%20z%20m%2013.2%2C-8.7%20-26.6%2C0%200%2C-35.9%2026.5%2C0%200%2C35.9%20z%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20class%3D%22st1%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20style%3D%22clip-rule%3Aevenodd%3Bfill%3A%23333333%3Bfill-rule%3Aevenodd%22%20/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	padding-bottom: 150px;
	padding-top: 120px;
    background-position: 115px 85px;
}

.combate-play > div {
	width: 340px;
	margin: 0 auto;
	overflow: visible;
}

.combate-play p {
	font-size:24px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	width: 650px;
}

.combate-play p a {
	color:#d32127;
}

.combate-play span {
	width: 336px;
    height: 34px;
}

.operadoras {
	background: #f3f3f3;
	padding-top: 45px;
	overflow: hidden;
}

.operadoras ul .row {
	width: 940px;
	margin: 0 auto 60px;
}

.operadoras p {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: -0.5px;
	margin-bottom: 30px;
}

.operadoras a {
	background-image: url(../img/logos-operadoras.png);
	background-repeat: no-repeat;
	background-position-y:0px;
	height: 47px;
	display: block;
	text-indent: -9999px;
}

.operadoras a[href="http://www.algartelecom.com.br/"] {
	background-position: 11px 0px;
}

.operadoras a[href="http://www.blue.tv.br/"] {
	background-position: -109px 0px;
}

.operadoras a[href="http://www.claro.com.br/"] {
	background-position: -229px 0px; 
}

.operadoras a[href="http://www.gvt.com.br/"] {
	background-position: -349px 0px;
}

.operadoras a[href="http://www.netcombo.com.br/"] {
	background-position: -479px 0px;
}

.operadoras a[href="http://www.oi.com.br/tv-hd/"] {
	background-position: -590px 0px;
}

.operadoras a[href="http://www.sky.com.br/"] {
	background-position: -708px 0px;
}

.operadoras a[href="http://www.vivo.com.br/"] {
	background-position: -829px 0px;
}

footer {
	background-color: #494949;
	color: #fff;
	overflow: hidden;
}

footer a {
	color: #fff;
}

.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-8r {
    width: 12.5%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-8r {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-8r {
        width: 12.5%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-8r {
        width: 12.5%;
        float: left;
    }
}

